# composer download path
/vendor/
# upload file path
/uploads/
# smarty compile path
/web/templates_c/
# smarty cache path
/web/cache
# phpdoc path
/docs
# Download path
/downloads/
# zend studio file
.project
/.settings/
/.idea